body{
	background: gray;
	font-size: 87.5%;
	font-family: Arial, 'Lucida Sans Unicode';
	color: black;
	text-align: left;
	line-height: 1.5;
}
a{
	text-decoration: none;
}
a:link, a:visited{
	color: #CF5C3F;

}
a:hover, a:active{
	background-color: #CF5C3F;
	color: white;
}
.body{
	width:70%;
	clear: both;
	margin: 0  auto;
}
.mainheader img{
	width: 20%;
	height: auto;
	margin: 2% 0;
}
.mainheader nav{
	background-color: rgb(102,102,102);
	height: 40px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.mainheader nav ul{
	list-style: none;
	margin: 0 auto;
}
.mainheader nav ul li{
	display: inline;
	float: left;
}
.mainheader nav a:link, .mainheader nav  a:visited{
     color: #FFF;
     display: inline-block;
     padding: 10px 25px;
     height: 20px;
}
.mainheader nav a:hover,.mainheader nav  a:active,
.mainheader nav .active a:link, .mainheader nav .active a:visited{
	background-color: #CF5C3F;
	text-shadow: none;

}
.mainheader nav ul li a{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.main-content{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	line-height: 25px
}
.content{
	width: 70%;
	float: left;
}
.topcontent{
	margin-top: 2%;
	background-color: white;
	padding: 4% 5%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.bottomcontent{
	margin-top: 2%;
	background-color: white;
	padding: 4% 5%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.post-info{
	color: #38ACEC;
	font-style: italic;
	font-size: 85%
}
.top-sidebar{
	width: 21%;
	float: left;
	background-color: white;
	margin: 2% 0% 2% 3%;
	padding: 2% 3%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.middle-sidebar{
	width: 21%;
	float: left;
	background-color: white;
	margin: 2% 0% 2% 3%;
	padding: 2% 3%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.bottom-sidebar{
	width: 21%;
	float: left;
	background-color: white;
	margin: 2% 0% 2% 3%;
	padding: 2% 3%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.mainfooter{
	width: 100%;
	float: left;
	height: 40px;
	background: #666;
	margin: 2% 0%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.mainfooter p{
	color: white;
	margin: 10px auto;
	color: white;
	padding-left: 10px;
}
@media only screen and (min-width: 150px) and (max-width: 600px)
{
	.body{
		width:90%;
		font-size: 95%
    }
    .mainheader img{
		width: 100%;
    }
    .mainheader nav{
		height: 160px;
	}
	.mainheader nav ul{
		padding: 0;
    }
    .mainheader nav ul li{
		width: 100%;
		text-align: center;
	}
	.mainheader nav a:link, .mainheader nav  a:visited{
     	display: block;
     	padding: 10px 25px;
     	height: 20px;
    }
    .content{
	width: 100%;
	float: left;
	margin-top: 2%
	}
	.post-info{
	display: none;
    }
    .topcontent{
	margin-top: 2%;
	margin-bottom: 4%;
    }
    .bottomcontent{
	margin-top: 3%;
    }
    .top-sidebar, .middle-sidebar, .bottom-sidebar{
    	width: 94%;
    	margin: 2% 0% 2% 0%;
    	padding: 2% 3%;
    } 
}